/* Angular Material Theme */
@use '@angular/material' as mat;
@import './assets/sass/colors.sass';
@import './assets/sass/table.sass';

@include mat.core();

$red-palette: (
    100: #FEECEC,
    400: #F56B6B,
    500: #F44336,
    700: #D32F2F,
    900: #B71C1C,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white)
);

$black-palette: (
    100: #F5F5F5,
    400: #B0B0B0,
    500: #9E9E9E,
    700: #616161,
    900: #212121,
    contrast: (50: rgba(white, 0.87),
        100: rgba(white, 0.87),
        200: rgba(white, 0.87),
        300: white)
);

$my-primary: mat.define-palette($red-palette, 500);
$my-accent: mat.define-palette($black-palette, 700);

$my-theme: mat.define-light-theme((color: (primary: $my-primary, accent: $my-accent)));

@include mat.all-component-themes($my-theme);