/* Body */
$body: #E7EBF4

/* Primary */
$primary-100: #FEECEC
$primary-400: #F56B6B
$primary-700: #F44336
$primary-800: #D32F2F
$primary-900: #B71C1C

/* Secondary */
$secondary-100: #F5F5F5
$secondary-400: #B0B0B0
$secondary-700: #616161
$secondary-800: #424242
$secondary-900: #212121

/* Neutral */
$color-neutral-0: #FFF
$color-neutral-100: #F8F9FC
$color-neutral-200: #F1F3F9
$color-neutral-300: #E1E6EF
$color-neutral-400: #CDD2DB
$color-neutral-700: #8293AA
$color-neutral-800: #395C82
$color-neutral-900: #003355
$color-neutral-1000: #002239

/* Success */
$success-100: #EDFDF8
$success-700: #08875D
$success-800: #04724D
$success-900: #04724D

/* Warning */
$warning-100: #FFF8EB
$warning-700: #F5B550
$warning-800: #E99A1D
$warning-900: #CC891F

/* Danger */
$danger-100: #FEF1F2
$danger-700: #E02D3C
$danger-800: #BA2532
$danger-900: #981B25

/* Bootstrap */
$primary: $primary-700
$secondary: $secondary-700
$success: $success-700
$warning: $warning-700
$danger: $danger-700
