/* Heights */
.h-0
    height: 0

.h-32
    height: 2rem !important

/* Cursor */
.pointer
    cursor: pointer

/* Width */

.w-100
    width: 100%

.w-320
    width: 20rem

/* Margins */

.m-32
    margin: 2rem

.mb-16
    margin-bottom: 1rem

.mx-check
    margin: 0 6rem 0 10rem

/* Gap */
.gap-0
    gap: 0

/* Cards */
.card
    background: $color-neutral-0
    display: flex
    width: 100%
    padding: 2rem
    flex-direction: column
    align-items: flex-start
    border-radius: 1rem

.card-small
    display: flex
    padding: 2rem
    flex-direction: column
    align-items: flex-start
    gap: 2rem
    align-self: stretch
    border-radius: 1rem
    background: #fff
    width: 50rem

.card-section
    display: flex
    padding: 2rem
    flex-direction: column
    align-items: flex-start
    gap: 1rem
    flex: 1 0 0
    align-self: stretch
    border-radius: 1rem
    background: #fff
    width: 24.25rem

.content-section
    display: flex
    padding: 16px
    flex-direction: column
    align-items: flex-start
    gap: 0.5rem
    flex: 1 0 0
    border-radius: 16px
    border: 1px solid $color-neutral-700
    background: #FFF
    max-height: 19rem
    overflow: auto

/* Notification */
.notif-description
    display: flex
    justify-content: center
    align-items: center
    gap: 8px
    flex: 1 0 0
    align-self: stretch
    border-radius: 2px
    border: 1px solid #ccdff8
    background: #f1f5fe

/* Material Paginator */
.mat-mdc-paginator
    display: flex
    width: 100%
    justify-content: end

.mat-mdc-paginator-page-size-label
    display: none

.mat-mdc-paginator-container
    color: #395C82
