/* Cursor */
.pointer
    cursor: pointer

/* Width */

.w-100
    width: 100%

/* Material Paginator */
.mat-mdc-paginator
    display: flex
    width: 100%
    justify-content: end

.mat-mdc-paginator-page-size-label
    display: none

.mat-mdc-paginator-container
    color: #395C82
